.zaml-tree-view .tree .block {
  position: relative;
}

.zaml-tree-view .tree .block .indicator {
  position: absolute;
  top: 2px;
  left: -12px;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  transform: rotate(-90deg);
  color: #727272;
  font-size: 16px;
}

.zaml-tree-view .tree .block.expanded > .header:hover::before,
.zaml-tree-view .tree .block.expanded.node-selected > .header::before {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  bottom: 2px;
  left: -5px;
  border-left: 1px solid #e5e5e5;
}

.zaml-tree-view .tree .block.expanded.node-selected > .header:hover::before,
.zaml-tree-view .tree .block.expanded.node-selected > .header::before {
  border-left: 1px solid #b2c4ee;
}

.zaml-tree-view .tree .block .children {
  display: none;
  padding-left: 14px;
}

.zaml-tree-view .tree .block.expanded > .children {
  display: block;
}

.zaml-tree-view .tree .block.expanded > .ellipsis {
  display: none;
}

.zaml-tree-view .tree .header,
.zaml-tree-view .tree .footer {
  color: #708;
}

.zaml-tree-view .tree .block.expanded {
  height: auto;
}

.zaml-tree-view .tree .block.expanded > .header,
.zaml-tree-view .tree .block.expanded > .footer {
  display: block;
}

.zaml-tree-view .tree .block.expanded > .indicator {
  transform: rotate(0);
}

.zaml-tree-view .tree .block .prop::before {
  content: ' ';
}

.zaml-tree-view .tree .block .label {
  color: #085;
}

.zaml-tree-view .tree .block .key {
  color: #05a;
}

.zaml-tree-view .tree .block .value {
  color: #a11;
}

.zaml-tree-view .tree .text.selected,
.zaml-tree-view .tree .block.selected,
.zaml-tree-view .tree .header.selected,
.zaml-tree-view .tree .footer.selected {
  background: #dadada;
  background: #5b94f0;
}

.zaml-tree-view .tree .text.selected,
.zaml-tree-view .tree .block.selected,
.zaml-tree-view .tree .block.selected .header,
.zaml-tree-view .tree .block.selected .footer,
.zaml-tree-view .tree .block .header.selected,
.zaml-tree-view .tree .block .footer.selected {
  color: #fff;
}
.zaml-tree-view .tree .block.selected > .header .label,
.zaml-tree-view .tree .block.selected > .header .key,
.zaml-tree-view .tree .block.selected > .header .value,
.zaml-tree-view .tree .block .header.selected .label,
.zaml-tree-view .tree .block .header.selected .key,
.zaml-tree-view .tree .block .header.selected .value {
  color: #eee;
}
  

.zaml-tree-view .tree .block .ellipsis {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Noto Sans', system, "Helvetica Neue", Helvetica, Arial;
}
