.zaml-tree-view {
  position: relative;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Source Code Pro', system, "Helvetica Neue", Helvetica, Arial;
  cursor: default;
  user-select: none;
}


.zaml-tree-view .tree {
  position: absolute;
  top: 23px;
  bottom: 23px;
  overflow: auto;
  padding: 4px 0;
}

.zaml-tree-toolbar,
.zaml-tree-path {
  position: absolute;
  left: 0;
  width: 100%;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  background: #fff;
  font-family: 'Noto Sans', system, "Helvetica Neue", Helvetica, Arial;
}
.zaml-tree-toolbar {
  top: 0;
  border-bottom: 1px solid #d0d0d0;
}
.zaml-tree-path {
  bottom: 0;
  border-top: 1px solid #d0d0d0;
}

.zaml-tree-path-item {
  display: inline-block;
  padding: 0 6px;
  color: #333;
}

.zaml-tree-path-item.selected,
.zaml-tree-path-item:hover {
  background: #f3f3f3;
}

.zaml-tree-path-item.tag,
.zaml-tree-path-item.entity {
  color: #708;
}
